/* font-family: 'Luckiest Guy', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif; */
:root{
  --color-primary: #EC1F46;
  --bg-light: #F5FAFE;
  --bg-dark: #0A223D;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul,
ol{
  list-style: none;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #333333;
  background-color: var(--bg-light);
}
.title{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.info-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.header__top{
  font-size: 10px;
  line-height: 13px;
}
.header__top-link,
.header__top-item{
  transition: all .3s;
}
.header__top-link:hover,
.header__top-item:hover{
  transform: scale(1.2);
}
.header__top-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}
.header__top-item--left{
  margin-right: auto;
}
.header__top-link--gift{
  position: relative;
  padding-left: 36px;
  margin-right: 98px;
}
.header__top-link--gift::before{
  position: absolute;
  content: "";
  background-image: url(../img/gift.svg);
  width: 18px;
  height: 18px;
  left: 0;
  top: -2px;
}
.header__top-link--star{
  padding-left: 36px;
  position: relative;
}
.header__top-link--star::before{
  position: absolute;
  content: "";
  background-image: url(../img/star.svg);
  width: 18px;
  height: 18px;
  left: 0;
  top: -2px;
}
.header__row{
  background-color: #fff;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}
.form{
  width: 350px;
  height: 40px;
  background: #F5FAFE;
  border-radius: 6px 0 0 6px;
  border: 0;
  padding: 12px 72px 12px 23px;
}
.form::placeholder{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.header__btn{
  transition: all .3s;
}
.header__btn:hover{
  opacity: .6;
}
.btn{
  background: var(--color-primary) url(../img/magnifier.svg) no-repeat 50% 50%/16px 16px;
  border-radius: 0px 6px 6px 0px;
  border: 0;
  width: 65px;
  height: 40px;
  margin-left: -65px;
  color: transparent;
} 
.header__basket{
  position: relative;
}
.header__basket-amount{
  position: absolute;
  left: 12px;
  bottom: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
} 
.user__img{
  border-radius: 50%;
  overflow: hidden;
}
.user__link{
  position: relative;
}
.user__link::after{
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
  left: 50px;
  border: 2px solid #000;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
}
.user__menu{
  display: none;
}
.header__nav{
  background: var(--bg-dark);
  padding: 31px 0;
}
.header__nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-link{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all .3s;
}
.header__nav-link:hover{
  opacity: .6;
}
.hotel-card__top{
  display: flex;
  justify-content: space-between;
}
.hotel-card__top-content{
  margin-bottom: 20px;
}
.hotel-card__top-stars{
  max-width: 48px;
  display: block;
}
.hotel-card__top-wrapper{
  display: flex;
  align-items: center;
}
.hotel-card__top-title{
  display: inline-flex;
  margin-right: 14px;
}
.hotel-card__top-offer{
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  padding: 4px 3px;
  background: var(--color-primary);
  border-radius: 3px;
  max-width: 70px;
  text-align: center;
}
.hotel-card__top-rating-card{
  color: #fff;
  background: var(--color-primary);
  border-radius: 4px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  padding: 8px 6px;
  width: 65px;
  height: 45px;
  text-align: center;
}
.hotel-card__top-rating-card-big-number{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.hotel-card__top-rating-card-small-number{
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
}
.hotel-card__content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 27px 30px;
  margin-bottom: 67px;
}
.hotel-card__content-img{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.hotel-card__content-info{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--bg-dark);
  border-radius: 8px;
  color: #fff;
  padding: 26px;
}
.hotel-card__content-list{
  margin-bottom: 17px;
}
.hotel-card__content-list--left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hotel-card__content-text--guest{
  position: relative;
}
.hotel-card__content-text--guest::before{
  content: '';
  position: absolute;
  background-image: url(../img/guests.svg);
  width: 14px;
  height: 14px;
  top: 1px;
  left: -15px;
}
.hotel-card__content-text--room{
  position: relative;
}
.hotel-card__content-text--room::before{
  content: '';
  position: absolute;
  background-image: url(../img/home.svg);
  width: 14px;
  height: 14px;
  top: 1px;
  left: -15px;
}
.accent{
  position: relative;
}
.accent::before{
  content: '';
  position: absolute;
  background-image: url(../img/phone.svg);
  width: 14px;
  height: 14px;
  top: 6px;
  left: -18px;
}
.hotel-card__content-text--small{
  font-size: 10px;
  line-height: 14px;
}
.hotel-card__content-text--number{
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.hotel-card__content-text--booking{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-top: auto;
}
.hotel-card__map{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.hotel-card__map iframe{
  border: 0;
  width: 100%;
  height: 100%;
}
.hotel-card__content-btn{
  flex-basis: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 13px;
  background: var(--color-primary);
  border-radius: 4px;
  width: 295px;
  height: 45px;
  transition: all .3s;
}
.hotel-card__content-btn:hover{
  opacity: .8;
}
.info__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 58px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px; 
}
.info__link{
  transition: all .3s;
}
.info__link:hover{
  color: var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
}
.info-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: var(--bg-dark);
  padding: 16px 24px;
  border-radius: 4px 4px 0px 0px;
}
.general{
  background: #FFFFFF;
  border-radius: 8px 8px 8px 0px;
}
.info__wrapper{
  margin-bottom: 105px;
}
.packges__rating{
  margin-bottom: 5px;
}
.package-summery__title{
  margin-bottom: 29px;
}
.package-summery-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 550px;
  gap: 32px;
}
.package-summery__highlights-details{
  grid-column: 1 / 3;
}
.package-summery__highlighs-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 27px 35px 27px 36px;
}
.general-item{
  position: relative;
  margin-bottom: 21px;
}
.packages__btn{
  transition: all .3s;
}
.packages__btn:hover{
  background-color: #a0011e;
}
.general-item::before{
  content: "";
  position: absolute;
  background-image: url(../img/check-mark.svg);
  width: 18px;
  height: 18px;
  top: 0px;
  left: -22px;
}
.package-summery__item-date{
  position: relative;
  margin-bottom: 21px;
}
.package-summery__item-date::before{
  content: "";
  position: absolute;
  background-image: url(../img/calendar.svg);
  width: 18px;
  height: 18px;
  top: 0px;
  left: -22px;
}
.package-summery__details-list{
  padding: 29px 28px 18px 37px;
  display: flex;
  justify-content: space-between;
}
.package-summery__item--benefit{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.package-summery__highlights-details-wrapper{
  padding: 38px 85px 57px 36px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 70px;
}
.package-summery__highlights-details-item--accent{
  color: var(--color-primary);
  margin-bottom: 21px;
  margin-left: -18px;
}

.packages__main-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 65px;
}
.packages__cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 110px;
}
.packages__card--big{
  grid-column: 1 / 3;
  display: flex;
}
.packages__card-wrapper--big{
  padding: 46px 21px 35px 46px;
}
.packages__text{
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 34px;
}
.packages__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 23px;
}
.packages__card{
  background-color: var(--bg-dark);
  color: #fff;
  border-radius: 8px;
}
.packages__card-wrapper{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.packages__list{
  margin-bottom: 24px;
}
.packages__item{
  font-size: 12px;
  line-height: 15px;
}
.packages__item:not(:last-child){
  margin-bottom: 11px;
}
.packages__old-price{
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  margin-bottom: 5px;
}
.packages__new-price{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.packages__price-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.packages__btn{
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #EC1F46;
  border-radius: 4px;
  padding: 10px 26px;
}
.reviews__main-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 115px;
}
.reviews__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 731px;
  background-color: #fff;
  margin: 0 auto 70px;
}
.reviews__img{
  max-width: 90px;
  margin-top: -45px;
  border-radius: 50%;
  margin-bottom: 9px;
  overflow: hidden;
}
.reviews__name{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-primary);
  margin-bottom: 10px;
}
.reviews__data{
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 4px;
}
.reviews__text{
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  padding: 30px 97px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.subscribe{
  background-image: url(../img/bg.jpg);
  height: 260px;
  margin-bottom: 60px;
}
.subscribe__container{
  max-width: 760px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}
.subscribe__wrapper{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.subscribe__text{
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}
.subscribe__text span{
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}
.subscribe__form{
  width: 350px;
  height: 55px;
  border: 0;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 19px 75px 19px 30px;
  position: relative;
}
.subscribe__btn{
  margin-left: -65px;
  background-color: var(--color-primary);
  color: #fff;
  padding: 20px 18px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border: 0;
  border-radius:  0px 4px 4px 0px;
  position: absolute;
  transition: all .3s;
}
.subscribe__btn:hover{
  opacity: .7;
}
.activites{
  margin-bottom: 98px;
}
.activites__main-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 57px;
}
.activites__card{
  position: relative;
  background-blend-mode: overlay;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}
.activites__wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-blend-mode: overlay;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
}
.activites__cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  color: #fff;
}
.activites__card{
  border-radius: 6px;
  overflow: hidden;
}
.activites__text{
  position: absolute;
  left: 26px;
  bottom: 72px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.activites__btn{
  position: absolute;
  left: 26px;
  bottom: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 21px;
  background-color: var(--color-primary);
  border-radius: 4px;
  transition: all .3s;
}
.activites__btn:hover{
  background-color: #a0011e;
}
.footer{
  background-color: var(--bg-dark);
  color: #BDBDBD;
  font-size: 14px;
  line-height: 22px;
}
.footer__top{
  display: flex;
  justify-content: space-between;
  padding-top: 108px;
  padding-bottom: 89px;
}
.footer__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.footer__link{
  transition: all .3s;
}
.footer__link:hover{
  opacity: .7;
  text-decoration: underline;
}
.social-network{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 23px;
}
.social-network-title{
  margin-right: auto;
  margin-bottom: 0;
}
.footer__content{
  display: flex;
  justify-content: space-between;
  gap: 81px;
}
.footer__contacts{
  flex-basis: 493px;
}
.footer__content-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 34px;
}
.footer__contacts-note{
  margin-bottom: 22px;
}
.footer__contacts-address{
  position: relative;
  margin-left: 30px;
  margin-bottom: 10px;
}
.footer__contacts-address::before{
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  background-image: url(../img/map.svg);
  width: 24px;
  height: 24px;
}
.footer__contacts-phone-number{
  position: relative;
  margin-left: 30px;
  margin-bottom: 10px;
}
.footer__contacts-phone-number::before{
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  background-image: url(../img/phone-call.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}
.footer__contacts-mail{
  position: relative;
  margin-left: 30px;
  margin-bottom: 10px;
}
.footer__contacts-mail::before{
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.form-name,
.form-tel {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 18px 23px;
  border: 0;
  width: 255px;
}
.form-name{
  margin-right: 30px;
}
.form-name::placeholder,
.form-tel::placeholder,
.form-message::placeholder {
  font-family: 'Mulish', sans-serif;
  color: #BDBDBD;
}
.form-message{
  padding: 18px 23px;
  resize: none;
  width: 100%;
  max-width: 539px;
  height: 123px;
  margin-top: 15px;
}
.footer-btn{
  background: var(--color-primary);
  border-radius: 4px;
  font-weight: 700;
  padding: 17px 65px;
  border: 0;
  color: #fff;
  margin-top: 22px;
  transition: all .3s;
  margin-right: auto;
}
.footer-btn:hover{
  opacity: .7;
}

@media (max-width:1040px){
  .hotel-card__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hotel-card__content-img{
    width: 100%;
  }
  .hotel-card__content-btn{
    max-width: 350px;
  }
  .hotel-card__map{
    width: 100%;
  }
  .packages__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .activites__main-title{
    text-align: center;
  }
  .footer__content-title{
    text-align: center;
  }
  .form-name,
  .form-tel{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width:920px){
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index:2;
    overflow: hidden;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .header__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #FFEFBA;
    transform: translateX(-100%);
    transition: transform 0.5s; 
  }
  .header__nav.active {
    transform: translateX(0);
  }  
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
  }
  .package-summery-wrapper{
    display: block;
  }
  .package-summery__highlights-details-wrapper {
    padding: 40px;
  }
  .footer__top{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__logo{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer__list:not(:last-child){
    margin-right: 40px;
  }
}
@media (max-width:700px){
  .packages__card--big{
    flex-direction: column;
  }
  .packages__img{
    max-height: 300px;
    object-fit: cover;
  }
  .subscribe__wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__list{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width:600px){
  .package-summery__highlights-details-wrapper{
    grid-template-columns: 1fr 1fr;
  }
  .footer__content{
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__top-list{
    display: block;
  }
  .header__top-item,
  .header__top-list{
    width: 100%;
    margin-bottom: 15px;
  }
  .header__top-item--left{
    text-align: center;
  }
}
@media (max-width:500px){
  .hotel-card__top-title{
    font-size: 19px;
    line-height: 25px;
  }
  .package-summery__highlighs-list,
  .package-summery__details-list{
    display: block;
  }
  .package-summery__highlights-details-wrapper {
    grid-template-columns: 1fr;
}
}
@media (max-width:400px){
  .hotel-card__top{
    align-items: baseline;
  }
  .hotel-card__top-content{
    flex-basis: 80%;
    margin-right: 15px;
  }
  .hotel-card__top-offer{
    display: none;
  }
}